.categories .section-title{
  width: 312px;
  margin: 0 auto;
}

.categories-cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 64px;
}

.categories-cards .card {
  text-decoration: none;
  color: var(--text-primary-color);
  background-color: var(--background-secondary-color);
  width: 312px;
  height: 220px;
  padding: 24px;
  border-radius: 8px;
  box-sizing: border-box;
  text-align: center;
}

.categories-cards .card h3{
 font-weight: var(--title-weight);
 font-size: 28px;
}

.categories-cards .card .single-line{
  padding-top: 50px;
}

.categories-cards .card.single-line.transfer img {
    margin: 10px 0 20px;
}

@media screen and (min-width: 768px) {
  .categories .section-title{
  width: 100%;
}
  .categories-cards{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
}

@media screen and (min-width: 1024px) {
 .categories-cards .card{
  width: 430px;
 }
}

@media screen and (min-width: 1440px) {
.categories-cards .card{
  width: 280px;
 }
}